.usersPanelWrapper{
    background-color: #FFFFFF;
    width: 100vw;
    color: rgba($color: #000000, $alpha: 0.85);
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}